# See https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates#package-ecosystem
version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "[dep][actions]"
      include: "scope"

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
      # at 2:01 am
      time: "02:01"
    commit-message:
      prefix: "[dep][go]"
      include: "scope"
    pull-request-branch-name:
      separator: "-"
    assignees:
      - "pskrbasu"
      - "kaidaguerre"
    labels:
      - "dependencies"
      - "house-keeping"

  - package-ecosystem: "npm"
    directory: "/ui/dashboard"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "[dep][dash]"
      include: "scope"
    pull-request-branch-name:
      separator: "-"
    assignees:
      - "MichaelBurgess"
      - "pskrbasu"
      - "kaidaguerre"
    labels:
      - "dependencies"
      - "dashboards"
      - "house-keeping"
