@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-steampipe-default {
  /* Control colors */
  --color-alert: #da1e28;
  --color-alert-light: rgba(218, 30, 40, 0.3);
  --color-alert-inverse: theme("colors.white");
  --color-orange: #ff832b;
  --color-orange-inverse: theme("colors.white");
  --color-yellow: #f1c21b;
  --color-yellow-inverse: theme("colors.white");
  --color-ok: #198038;
  --color-ok-inverse: theme("colors.white");
  --color-info: #3185fc;
  --color-info-inverse: theme("colors.white");
  --color-tbd: theme("colors.gray.300");
  --color-tbd-inverse: theme("colors.white");

  /* Primary colours */
  --color-success: #0070f3;
  --color-error: #e00;
  --color-warning: #f9a825;
  --color-dashboard: rgb(243 244 246);
  --color-dashboard-panel: #fff;
  --color-foreground: #000;
  --color-foreground-light: #515151;
  --color-foreground-lighter: #666;
  --color-foreground-lightest: #ccc;
  --color-link: #2645c5;
  --color-black-scale-1: #fafafa;
  --color-black-scale-2: #eaeaea;
  --color-black-scale-3: #d3d3d3;
  --color-black-scale-4: #888;
  --color-black-scale-5: #666;
  --color-black-scale-6: #444;
  --color-black-scale-7: #333;
  --color-black-scale-8: #111;
  --color-secondary: var(--color-black-scale-5);

  /* General colors */
  --color-divider: theme("colors.gray.300");
  --color-nav: #fafbfc;
  --color-nav-border: #dee2e6;

  /* Visual colors */
  --color-danger: rgb(238, 0, 0);

  /* Borders */
  --color-table-border: theme("colors.gray.200");
  --color-table-divide: #e7e9ed;
  --color-table-head: var(--color-black-scale-6);
  --color-table-alternating-row: #fcfcfc;
}

.theme-steampipe-dark {
  /* Control colors */
  --color-alert: #f83741;
  --color-alert-light: rgba(250, 77, 86, 0.3);
  --color-alert-inverse: theme("colors.white");
  --color-orange: #ff832b;
  --color-orange-inverse: theme("colors.white");
  --color-yellow: #f1c21b;
  --color-yellow-inverse: theme("colors.white");
  --color-ok: #24a148;
  --color-ok-inverse: theme("colors.white");
  --color-info: #4589ff;
  --color-info-inverse: theme("colors.white");
  --color-tbd: theme("colors.gray.400");
  --color-tbd-inverse: theme("colors.white");

  /* Primary colours */
  --color-success: #0070f3;
  --color-error: red;
  --color-warning: #f9a825;
  --color-dashboard: #1e2329;
  --color-dashboard-panel: #2d333b; /*var(--color-black-scale-1);*/
  --color-foreground: #fff;
  --color-foreground-light: #ccc;
  --color-foreground-lighter: #888;
  --color-foreground-lightest: #515151;
  --color-link: #809fff;
  --color-black-scale-1: #222;
  --color-black-scale-2: #333;
  --color-black-scale-3: #444;
  --color-black-scale-4: #666;
  --color-black-scale-5: #888;
  --color-black-scale-6: #999;
  --color-black-scale-7: #eaeaea;
  --color-black-scale-8: #fafafa;
  --color-secondary: var(--color-black-scale-5);

  /* General colors */
  --color-divider: theme("colors.gray.300");
  --color-nav: var(--color-dashboard);
  --color-nav-border: #333;

  /* Visual colors */
  --color-danger: rgb(255, 0, 0);

  /* Borders */
  --color-table-border: theme("colors.gray.700");
  --color-table-divide: theme("colors.gray.700");
  --color-table-head: var(--color-black-scale-6);
  --color-table-alternating-row: #23282f;
}

@layer base {
  html {
    font-size: 14px;
  }
}

@layer components {
  /* Base */
  .link {
    @apply no-underline cursor-pointer outline-none;
  }

  .link-highlight {
    @apply link text-link;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl mt-1 font-semibold;
  }
}

.sb-show-main.sb-main-padded {
  padding: 0;
}

@media print {
  #root {
    -webkit-print-color-adjust: exact;
  }

  div {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  canvas.chart-canvas {
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto !important;
    width: auto !important;
  }
}
