{{ define "output" }}group_id,group_title,group_description,control_id,control_title,control_description,reason,resource,status{{ range .Root.DimensionKeys }},{{ . }}{{ end }}{{range .Root.AllTagKeys }},{{ . }}{{ end }}{{ template "result_group_template" .Root }}
{{ end }}

{{ define "result_group_template" }}{{ range .ControlRuns }}{{ template "control_run_template" . }}{{ end }}{{ range .Groups }}{{ template "result_group_template" . }}{{ end }}{{ end }}

{{ define "control_run_template" }}{{ range .Rows }}{{ template "control_row_template" . }}{{ end }}{{ end }}

{{ define "control_row_template" }}
{{ template "group_details" . }},{{ template "control_details" . }},{{ template "reason_resource_status" . }}{{ template "dimensions" . }}{{ template "tags" . }}{{ end }}

{{ define "group_details" }}{{ quote .Run.Group.GroupId }},{{ quote .Run.Group.Title }},{{ quote .Run.Group.Description }}{{ end }}

{{ define "control_details" }}{{ quote .Run.ControlId }},{{ quote .Run.Title }},{{ quote .Run.Description }}{{ end }}

{{ define "reason_resource_status" }}{{ quote .Reason }},{{ quote .Resource }},{{ quote .Status }}{{ end }}

{{ define "dimensions" }}{{ $row := . }}{{ range .Run.Tree.Root.DimensionKeys }},{{ quote ($row.GetDimensionValue .) }}{{ end }}{{ end }}

{{ define "tags" }}{{ $row := . }}{{ range .Run.Tree.Root.AllTagKeys }},{{ quote (index $row.Run.Tags .) }}{{ end }}{{ end }}
