{{ define "output" -}}
	{{ template "result_group" .Data.Root }}
{{ end }}

{{/* sub template for result groups */}}
{{ define "result_group" -}}
{
	"group_id": {{ toJson .GroupId }},
	"title": {{ toJson .Title }},
	"description": {{ toJson .Description }},
	"tags": {{ toJson .Tags }},
	{{ template "group_summary" . }}
	"groups": [
		{{- range .Groups -}}
			{{ template "result_group" . -}}
		{{ end -}}
	],
	"controls": [
		{{- range .ControlRuns -}}
			{{ template "control_run" . -}}
		{{ end -}}
	]
}
{{ end }}



{{/* sub template for control runs */}}
{{ define "control_run" }}
	{
		"results": [
			{{- range .Rows -}}
				{{- template "control_row" . -}}
			{{- end }}
		],
		"control_id": {{ toJson .ControlId }},
		"description": {{ toJson .Description }},
		"severity": {{ toJson .Severity }},
		"tags": {{ toJson .Tags }},
		"title": {{ toJson .Title }}
	},
{{ end }}

{{/* sub template for control rows */}}
{{ define "control_row" }}
		{
			"reason": {{ toJson .Reason }},
			"resource": {{ toJson .Resource }},
			"status": {{ toJson .Status }},
			"dimensions": [
				{{ range .Dimensions }}
					{
						"key": {{ toJson .Key }},
						"value": {{ toJson .Value }}
					}
				{{ end }}
			]
		},
{{ end }}

{{/* sub template for group summary */}}
{{ define "group_summary" -}}
	"summary": {
		"status": {
			"alarm": {{ .Summary.Status.Alarm }},
			"ok": {{ .Summary.Status.Ok }},
			"info": {{ .Summary.Status.Info }},
			"skip": {{ .Summary.Status.Skip }},
			"error": {{ .Summary.Status.Error }}
		}
	},
{{- end }}