{{ define "outlet" }}[  {{ range .ControlRuns -}} {{ range .Rows }} {{ template "control_row_template" . -}} {{ end -}} {{ end }}
] {{ end }}
{{ define "control_row_template" }} {{ if .Run.MatchTag "plugin" "aws" }}
{
    "SchemaVersion": "2018-10-08",
    "Id": "{{ .Run.Control.FullName }}",
    "ProductArn": "arn:aws:securityhub:{{ .GetDimensionValue "region" }}:{{ .GetDimensionValue "account_id" }}:product/{{ .GetDimensionValue "account_id" }}/default",
    "ProductFields": {
        "ProviderName": "Steampipe",
        "ProviderVersion": "{{ steampipeversion }}"
    },
    "GeneratorId": "steampipe-{{ .Run.Control.ShortName }}",
    "AwsAccountId": "{{ .GetDimensionValue "account_id" }}",
    "Types": [
        "automated"
    ],
    "UpdatedAt": "{{ timenow }}",
    "CreatedAt": "{{ timenow }}",
    "Title": {{ toJson .Run.Control.Title }},
    "Description": {{ toJson .Run.Control.Description }},{{ with .Run.Control.Severity }}
    "Severity": {
        "Label": "{{ upper . }}"
    },{{ else }}
    "Severity": {
        "Label": "INFORMATIONAL"
    },{{ end }}
    "Resources": [
        { 
            "Type": "Other",
            "Id": "{{ .Resource }}"
        }
    ],
    "Compliance": {
        "Status": "{{ template "statusmap" .Status -}}"
    }
},{{ end -}} {{ end -}}

{{ define "statusmap" }}{{ if eq . "ok" }}PASSED{{ end -}}{{ if eq . "error" }}WARNING{{ end -}}{{ if eq . "alarm" }}FAILED{{ end -}}{{ if eq . "skip" }}NOT_AVAILABLE{{ end -}}{{ if eq . "info" }}NOT_AVAILABLE{{ end -}}{{ end -}}
