{{ define "control_row_template" }}
Result{{ with .Control.Severity }} {{ . }}{{ end }} {{.Control.Title}} 
──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
{{ $source := dict "k" "v" -}}
{{ range .Dimensions -}}
{{ if eq .Key "path" }}{{ $_ := set $source "path" .Value }}{{ end -}}
{{ if eq .Key "start_line" }}{{ $_ := set $source "start_line" .Value }}{{ end -}}
{{ if eq .Key "end_line" }}{{ $_ := set $source "end_line" .Value }}{{ end -}}
{{ if eq .Key "source" }}{{ $_ := set $source "source" .Value }}{{ end -}}
{{ end -}}
{{ with get $source "path" }}  {{ . -}}
{{ with get $source "start_line" }}:{{ . }}{{ end -}}
{{ with get $source "end_line" }}-{{ . }}{{ end -}}
{{ end }}
──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
{{ with get $source "source" -}}
{{ range $i, $a := splitList "\n" . -}}
{{ with get $source "start_line" }}
{{ add $i . | printf "%3d" }}  {{ $a -}}
{{ else }}
  {{ $a -}}
{{ end -}}
{{ end }}
{{ end }}
──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
          ID {{ .Control.ShortName }}
      Impact {{ .Reason }}
──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
{{ end }}
{{ define "output" -}}
{{ range .Data.Root.ControlRuns -}}
{{ template "control_run_template" . -}}
{{ end -}}
{{ range .Data.Root.Groups -}}
{{ template "root_group_template" . -}}
{{ end }}

  results
  ──────────────────────────────────────────
  passed               {{ add .Data.Root.Summary.Status.Ok .Data.Root.Summary.Status.Info }} 
  ignored              {{ .Data.Root.Summary.Status.Skip }}
  critical             {{ add .Data.Root.Summary.Status.Alarm .Data.Root.Summary.Status.Error }}

  {{ add .Data.Root.Summary.Status.Ok .Data.Root.Summary.Status.Info }} passed, {{ add .Data.Root.Summary.Status.Alarm .Data.Root.Summary.Status.Error }} potential problem(s) detected.


{{ end -}}
{{ define "root_group_template" -}}
{{ if .ControlRuns -}}
{{ range .ControlRuns -}}
{{ template "control_run_template" . -}}
{{ end -}}
{{ end -}}
{{ range .Groups -}}
{{ template "group_template" . -}}
{{ end -}}
{{ end -}}
{{ define "group_template" -}}
{{ if .ControlRuns -}}
{{ range .ControlRuns -}}
{{ template "control_run_template" . -}}
{{ end -}}
{{ end -}}
{{ range .Groups -}}
{{ template "group_template" . -}}
{{ end -}}
{{ end -}}
{{ define "control_run_template" -}}
{{ range .Rows -}}
{{ if eq .Status "alarm" "error" }}{{ template "control_row_template" . }}{{ end }}
{{ end -}}
{{ end -}}
