<!DOCTYPE html>
<html lang="en">

<head>
  <title>Steampipe Report</title>
  <style>
    /**
       {{- template "normalize_css" -}}
       **/
    /**
       {{- template "style_css" -}}
       **/
  </style>
  <meta charset="UTF-8">
  <link rel="icon" href='{{ template "favicon" }}' type="image/svg+xml" sizes="any">
</head>

<body>
  <div class="container">
    {{/* we expect 0 or 1 root control runs */}}
    {{ range .Root.ControlRuns -}}
    {{ template "control_run_template" . -}}
    {{ end }}
    {{/* we expect 0 or 1 root groups */}}
    {{ range .Root.Groups -}}
    {{ template "root_group_template" . -}}
    {{ end }}
    <footer><em>Report run at <code>{{ .StartTime.Format "2006-01-02 15:04:05" }}</code> using <a href="https://steampipe.io"
          rel="nofollow"><code>Steampipe {{ steampipeversion }}</code></a> in dir
        <code>{{ workingdir }}</code>.</em></footer>
  </div>
</body>

</html>

{{ define "root_summary" }}
<table role="table">
  <thead>
    <tr>
      <th></th>
      <th>TOTAL</th>
      <th>{{ asstr .TotalCount }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>✅</td>
      <td>OK</td>
      <td class="{{ summarystatusclass "ok" .Ok}}">{{ .Ok }}</td>
    </tr>
    <tr>
      <td>⇨</td>
      <td>Skip</td>
      <td class="{{ summarystatusclass "skip" .Skip}}">{{ .Skip }}</td>
    </tr>
    <tr>
      <td>ℹ</td>
      <td>Info</td>
      <td class="{{ summarystatusclass "info" .Info}}">{{ .Info }}</td>
    </tr>
    <tr>
      <td>❌</td>
      <td>Alarm</td>
      <td class="{{ summarystatusclass "alarm" .Alarm}}">{{ .Alarm }}</td>
    </tr>
    <tr>
      <td>❗</td>
      <td>Error</td>
      <td class="{{ summarystatusclass "error" .Error}}">{{ .Error }}</td>
    </tr>
  </tbody>
</table>
{{ end }}

{{ define "summary" }}
<table role="table">
  <thead>
    <tr>
      <th>OK</th>
      <th>Skip</th>
      <th>Info</th>
      <th>Alarm</th>
      <th>Error</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="{{ summarystatusclass "ok" .Ok}}">{{ .Ok }}</td>
      <td class="{{ summarystatusclass "skip" .Skip}}">{{ .Skip }}</td>
      <td class="{{ summarystatusclass "info" .Info}}">{{ .Info }}</td>
      <td class="{{ summarystatusclass "alarm" .Alarm}}">{{ .Alarm }}</td>
      <td class="{{ summarystatusclass "error" .Error}}">{{ .Error }}</td>
      <td>{{ asstr .TotalCount }}</td>
    </tr>
  </tbody>
</table>
{{ end }}

{{ define "root_group_template"}}
<section class="group">
  <div class="header">
    <h1 class="title">{{ .Title }}</h1>
    <img class="logo" src="{{ template "logo"}}" alt="Steampipe Report" />
  </div>
  {{ template "root_summary" .Summary.Status }}

  {{ if .ControlRuns }}
  {{ range .ControlRuns}}
  {{ template "control_run_template" . }}
  {{ end }}
  {{ end }}

  {{ range .Groups }}
  {{ template "group_template" . }}
  {{ end }}
</section>
{{ end }}

{{ define "group_template"}}
<section class="group">
  <h2>{{ .Title }}</h2>
  {{ template "summary" .Summary.Status }}

  {{ if .ControlRuns }}
  {{ range .ControlRuns}}
  {{ template "control_run_template" . }}
  {{ end }}
  {{ end }}

  {{ range .Groups }}
  {{ template "group_template" . }}
  {{ end }}
</section>
{{ end }}

{{ define "control_run_template"}}
<section class="control">
  <h3>{{ .Title }}</h3>

  {{ if .Description }}
  <p><em>{{ .Description }}</em></p>
  {{ end }}

  {{ template "summary" .Summary }}

  {{ if .GetError }}
  <blockquote>{{ .GetError }}</blockquote>
  {{ else }}
  {{ $length := len .Rows }}
  {{ if gt $length 0 }}
  {{ template "control_run_table_template" . }}
  {{ end }}
  {{ end }}
  <!-- end for if-else block -->
</section>
{{ end }}

{{ define "control_run_table_template" }}
<table role="table">
  <thead>
    <tr>
      <th></th>
      <th>Reason</th>
      <th>Dimensions</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Rows }}
    {{ template "control_run_table_row_template" . }}
    {{ end }}
  </tbody>
</table>
{{ end }}

{{ define "control_run_table_row_template" }}
<tr>
  <td title="Resource: {{ .Resource }}">{{ statusicon .Status }}</td>
  <td title="Resource: {{ .Resource }}">{{ .Reason }}</td>
  <td>
    {{ range .Dimensions }}
    <code>{{ .Value }}</code>
    {{ end }}
  </td>
</tr>
{{ end }}