/*
{{ define "style_css" }}
/*  */
:root {
  --color-border-muted: #d8dee4;
  --color-border-default: #30363d;
  --color-neutral-muted: #6f819433;
  --color-fg-muted: #8b949e;
}

h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid var(--color-border-muted);
}

h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid var(--color-border-muted);
}

h3 {
  font-size: 1.25em;
}

.container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  padding: 1em;
}

table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 16px;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid var(--color-border-muted);
}

table th {
  font-weight: 600;
}

table tr {
  border-top: 1px solid var(--color-border-muted);
}

code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
}

blockquote {
  padding: 0 1em;
  margin-left: 0;
  color: var(--color-fg-muted);
  border-left: 0.25em solid var(--color-border-default);
}
/*
{{ end }}
/*  */
