name: "10 - Test: Linting"
on:
  push:
    tags:
      - v*
    branches:
      - main
      - "v*"
  workflow_dispatch:
  pull_request:

jobs:
  golangci:
    name: Test Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          path: steampipe

      - name: Checkout Pipe Fittings Components repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: turbot/pipe-fittings
          path: pipe-fittings
          ref: v1.6.x

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: 1.24

      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        continue-on-error: true # we dont want to enforce just yet
        with:
          version: v1.52.2
          args: --timeout=15m --config=.golangci.yml
          skip-pkg-cache: true
          skip-build-cache: true