name: Publish Docker Release and Update Brew
on:
  workflow_dispatch:
    inputs:
      release:
        description: "The name of the released version to publish"
        required: true

env:
  STEAMPIPE_VERSION: ${{ github.event.inputs.release }}
  GH_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}

jobs:
  # publish_docker:  
  #   name: Push Docker image to Docker Hub
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Login to DockerHub
  #       uses: docker/login-action@v2
  #       with:
  #         username: ${{ secrets.DOCKER_USERNAME }}
  #         password: ${{ secrets.DOCKER_PASSWORD }}
      
  #     - name: Clean Version for Tag
  #       id: generate_docker_tag
  #       run: |
  #         echo "::set-output name=docker_tag::${STEAMPIPE_VERSION#"v"}"
          
  #     - name: Build and Push to Docker Hub
  #       id: docker_build
  #       uses: docker/build-push-action@v3
  #       with:
  #         push: true
  #         build-args: |
  #           TARGETOS=linux
  #           TARGETARCH=amd64
  #           TARGETVERSION=${{ env.STEAMPIPE_VERSION }}
  #         tags: |
  #           turbot/steampipe:${{ steps.generate_docker_tag.outputs.docker_tag }}
  #           turbot/steampipe:latest
          
  #     - name: Image digest
  #       run: echo ${{ steps.docker_build.outputs.digest }}

  update_homebrew_tap:  
    name: Update homebrew-tap formula
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: turbot/homebrew-tap
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          ref: main
        
      - name: Merge pull request to update brew formula
        run: |
          git fetch --all
          gh pr merge bump-brew --squash
